<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gos.iccardone"
    android:versionCode="1"
    android:versionName="9.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    
    <application
        android:name="com.gos.iccardone.httpoperation.GosHttpApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gos.iccardone.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gos.iccardone.BusinessActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.iccardone.AccountSettingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.iccardone.ModifiyPasswordActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.iccardone.BankTransferActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.iccardone.OperatinActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.iccardone.OperatinResultActivity" android:screenOrientation="portrait"></activity>
        <service android:name="com.gos.iccardone.util.Download"></service>
    </application>

</manifest>
