<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gos.yypad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />
    
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES" ></uses-permission>
    
    <application
        android:name="com.gos.yypad.httpoperation.GosHttpApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ThemeActivity">
        <activity
            android:name="com.gos.yypad.LauncherActivity"
            android:label="@string/app_name"           
        	android:launchMode="singleTask" android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gos.yypad.MainActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            >
        </activity>
        <activity
            android:name="com.gos.yypad.FirmMienActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            >
        </activity>
        <activity
            android:name="com.gos.yypad.SalesPromotionActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            ></activity>
        <activity
            android:name="com.gos.yypad.DiyDivsionActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            >
        </activity>
        <activity
            android:name="com.gos.yypad.CompleteMachineActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            ></activity>
        <activity
            android:name="com.gos.yypad.BoutiQueshowActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            ></activity>
        <activity
            android:name="com.gos.yypad.ProductMainSceneActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            ></activity>
        <activity
            android:name="com.gos.yypad.ProductDetailActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            ></activity>
        <activity
            android:name="com.gos.yypad.SettingActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            ></activity>
        <activity
            android:name="com.gos.yypad.Splash"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            ></activity>
        <activity
            android:name="com.gos.yypad.ChooseOrderActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape" 
            ></activity>
        <activity 
            android:name="com.gos.yypad.ShopChooseActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape"></activity>
        <activity 
            android:name="com.gos.yypad.TermMienActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape"></activity>
        <activity 
            android:name="com.gos.yypad.PopImagePreviewActivity"
            android:theme="@style/MyDialogStyle" android:screenOrientation="landscape"></activity>
        
        <receiver android:enabled="true" android:name="com.gos.yypad.BootBroadcastReceiver" 
    		android:permission="android.permission.RECEIVE_BOOT_COMPLETED">   
		    <intent-filter>   
		        <action android:name="android.intent.action.BOOT_COMPLETED" />   	 
		        <category android:name="android.intent.category.DEFAULT" />   
		    </intent-filter>   
		</receiver>   
    </application>

</manifest>
