<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gos.lyfx"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    
    <!-- 管理蓝牙设备的权限 -->  
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>  


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ThemeActivity" >
        <activity
            android:name="com.gos.lyfx.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gos.lyfx.PrinterReceiptActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.BusStoreActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.SaleSyncActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.ShopInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.BusinessClearActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.DepotStoreActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.ProductStoreActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.ProductInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.SaleManResultActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.StoreInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.SaleBusinessActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.BusInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.gos.lyfx.DepotInfoActivity" android:screenOrientation="portrait"></activity>
        
    </application>

</manifest>
